.settings-container tbody {
    display: flex !important;
}

.settings-container tbody th {
    width: 0px !important;
    padding-right: 0 !important;
}

.settings-container tbody td {
    padding-left: 0 !important;
    padding-right: 20px !important;
}

.settings-container tbody input {
    width: fit-content !important;
}

.settings-container tbody label {
    display: table-cell !important;
}

.settings-container tbody select {
    width: 166px;
}

.settings-container .wp-color-result-text{
    width: 120px;
}

.settings-container .form-table td {
    width: 190px !important;
}

.settings-container tbody .wp-color-result-text {
    width: 124px;
}

.settings-container tbody #wpbody-content {
    padding-bottom: 10px !important;
}

.settings-container tbody .wp-picker-container {
    display: block !important;
}

.settings-container tbody fieldset {
    display: block !important;
}