table.variations {
    margin-bottom: 0 !important;
}

.container-note {
    width: max-content;
    margin-bottom: 40px;
}

.title-note {
    font-weight: bold;    
}

.price-note, .price-free-chars, .price-note-final {
    color: #579692;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
}

.content-note input {
    width: 456px;
}

.content-note textarea {
    width: 456px;
    resize: vertical;
}

.badge-note-product {
    display: inline;
    position: absolute;
    top: 0;
}

.badge-note-product, .badge-note-shop {
    border-radius: 10px;
    padding: 5px 20px;
    width: fit-content !important;
}

.display-none {
    display: none;
}